@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.hero {
    background-image: url("../public/images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}


.none {
    display: none;
}

.mar30 {
    margin-top: 6rem;
}

.mar10 {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero .container {
    padding-top: 12%;
}

.hero h1 {
    color: #fff;
    font-size: 60px;
}

.hero p {
    color: #fff;
    opacity: 0.9;
}

.formHero {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px 35px;
}

.formHero input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
}

.formHero span {
    font-size: 14px;
    color: grey;
}

.formHero input::placeholder {
    font-size: 17px;
    color: black;
}

textarea,
input {
    border: none;
    outline: none;
    background: none;
}

.background {
    padding: 80px 0;
    position: relative;
    background: #f7f9fc;
}

.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

label {
    color: #2d3954;
    font-size: 14px;
}

.mtop {
    margin-top: 50px;
}

h4 {
    font-weight: 500;
    margin-top: 10px;
}

.shadow {
    box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}

.padding {
    padding: 80px 0;
}

.heading p {
    color: #72809d;
}

formHero .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
}

button {
    border-radius: 5px;
    padding: 17px 30px;
    /* background: #27ae60; */
    background: #035bc7;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}



.formHero .box:nth-child(1) {
    border-left: none;
}

.formHero h4 {
    font-weight: 500 !important;
    font-size: 1.8rem !important;
}

button i {
    color: #fff;
    margin-right: 5px;
}


@media screen and (max-width: 800px) {
    .hero .container {
        padding-top: 30%;
    }

    .formHero {
        display: flex;
        flex-wrap: wrap;
    }

    .formHero .box {
        border-left: none;
    }

    .formHero input {
        width: 100%;
    }
}